.container{
	margin-top: 21px;
}
.mail{
	font-family:"Helvetica Neue",Helvetica;
	font-size: 16.5px;
	color: #616161;

}
.phone{
	font-family:"Helvetica Neue",Helvetica;
	font-size: 16.5px;
	color: #616161;

}
.abc:link,.abc:visited,.abc:active,.abc:hover{
	font-family:"Helvetica Neue",Helvetica;
	font-size: 17.2px;
	color: #4A90E2;
    text-decoration: none;
}
.social{

	font-family:"Helvetica Neue",Helvetica;
	margin-left:200px;
	color: #616161;
}
.navbar-inverse{
    background-color: #801014;
    border-radius: 0px;
    margin-top: 15px;
    border:0px;
    	
}
.navbar-nav{
	margin-left: 120px;

}
.navbar-nav li a:hover{
background-color: #5d0c0f!important;
}

.navbar-nav li a:link,a:visited,a:active{
	color: white!important;
	font-size:.8em;
	font-family: sans-serif;
	font-weight: 400;
	letter-spacing: 2px;
}
.dropdown-menu li .one:link,.one:visited,.one:active{
	color: black!important;
}
.dropdown-menu li .one:hover{
	background-color: white!important;

}
.dropdown-menu li{
   padding: 9px;
   margin-left: -10px;
   font-family: "Helvetica Neue",Helvetica;
    letter-spacing: 2px;
    font-size: 14px;
    color: #616161;
}
.content{
	position: relative;
	z-index: 1;
	box-shadow: 0 2px 16px 9px rgba(0,0,0,.05);
	background-color: white;
	margin-top: 380px;
	border-radius: 4px;
	height: 500px;
	width:1100px;
	margin-left: 130px;
}
.enquiry{
	font-family: 'Gloria Hallelujah',cursive;
	color: white;
	text-align: center;
	font-size: 20px;
	margin-top: -10px;
}
.form{
	width: 335px;
	height:450px;
	background-color: #9ede5a;
	border-radius:4px;
	margin-top: 15px;
}
input[type=text]{
	margin-top: 20px;
	padding: 15px;
	width: 300px;
	margin-left: 20px;
	border-radius: 3px;
	height: 40px;
}
#sel1 {
	margin-top: 20px;
	padding: 15px;
	width: 300px;
	margin-left: 20px;
	border-radius: 3px;
	height: 50px;
}
input[type=submit]{
	margin-top: 20px;
	padding: 10px;
	width: 300px;
	margin-left: 20px;
	border-radius: 3px;
	height: 45px;
	color: white;
	background-color: #79b4f9;
	border: none;
	text-align: center;
	font-size: 20px;
	letter-spacing: 2px;
	font-family: sans-serif;
	font-weight: lighter;

}
#heading{
	font-family:'Gloria Hallelujah',cursive;;
	font-size: 20px;
	margin-left: 0px;
	margin-top: -20px;
}
.content1{
	font-family:sans-serif;
	font-size: 13.5px;
	margin-left: 20px;
	margin-top: 25px;
	letter-spacing: 1px;
}
.content2{
	background-color: #e16c6c;
	height: 500px;
	width:1500px;
	position: absolute;
	margin-top: -70px;
}
.infra{
	font-family:'Gloria Hallelujah',cursive;;
	font-size: 23px;
	color: white;
	margin-top:110px;
	margin-left: 150px;
}
